.nominations-container {
  position: fixed;
  bottom: 0;
  width: 96%;
  height: 250px;
  max-width: 1366px;
  left: 23%;
  background-color: #fff;
  border: 1px solid #f1eeee;
  border-radius: 8px;
}
